@font-face {
    font-family: 'Poppins';
    src: url(./src/fonts/Poppins-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Poppins;
    background-color: rgb(255, 243, 222);
}

/* BARRA DE NAVEGACIÓN */
.navigation {
  height: 70px;
  background: #262626;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 100;

  ul{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    list-style: none;
    color: whitesmoke;
  }
  a{
    color: whitesmoke;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
      color: orange;
      cursor: pointer;
      transition: all .5s;
    }
  }
}

.navigation__container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 0;
    flex: 1;
    gap: 6vw;
}

.navigation__button-container{
    margin-right: 15px;
}

.navigation__logo{
    padding-left: 12px;
    padding-top: 12px;
}
.navigation__button-container{
    padding: 20px;
    margin-left: 2vw;
}

/*BANNER HEADER */

.banner{
    margin-top: 70px;
    background: linear-gradient(90deg, rgba(255,163,0,1) 0%, rgba(255,184,0,1) 45%, rgba(255,248,0,1) 100%);
}

.banner__head{
    display: flex;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner__head__text{
    width: 50%;
}
.banner__head__img{
    width: 50%;
    padding-left: 70px;
    display: flex;
    justify-content: center;
}
.banner__head__text__title{
    font-weight: 800;
    font-size: 2.4em;
    color: whitesmoke;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.25);
}
.banner__head__text__subs{
    font-weight: 560;
    font-size: 1.1em;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.15);
}

/*ARTICLES DE LOS PROYECTOS */

.project{
    display: flex;
    justify-content: center;
}

.project__container{
    max-width: 80%;
    margin-top: 40px;

    h2{
      padding-left: 1em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      margin: auto;
  
    }
}

.project__container__content{
    
    border-radius: 15px 0px 0px 0px;
    display: flex;
    background-color: white;
    /*box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.22);*/
    box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
    max-height: 500px;
}

.project__container__content__carousel {
  position: relative;
  display: flex;
  border-radius: 11px 0px 0px 0px;
  box-shadow: 6px 0px 5px -3px rgba(0,0,0,0.1);
}

.project__container__content__carousel__images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project__container__content__carousel__item {
  width: 100%;
  height: 100%;
  display: none;
}

.project__container__content__carousel__item.active {
  display: block;
}

/* Indicadores (círculos) */
.project__container__content__carousel__indicators {
  position: absolute;
  bottom: 3%;
  left: 40%;
  display: flex;
  gap: 25px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;

  
}

.indicator {
  width: 15px;
  height: 15px;
  background-color: rgba(148, 147, 147, 0.8);
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition: background 0.3s ease, transform 0.2s ease;
  border-radius: 50%;
  outline: none;
  &:hover{
    cursor: pointer;
  }
  
}
.indicator.active {
  background-color: orange;
  transform: scale(1.3); /* Hace que el activo sea más grande */
  border-radius: 50%;
  outline: none;
}

.project__container__content__text{
    width: 50%;
    padding-left: 1em;
    padding-bottom: 0.5em;
    text-align: justify;
    padding-right: 4em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;

    h4 {
      color: orange;
    }
}
.project__container__progress{
    background-color: white;
    padding: 20px 0px;
    border-top: 1px solid orange;
}

.project__container__progress__content {
    margin: 0px auto;
    background-color: white;
    max-width: 1000px;
    text-align: center;
  }

.project__container__progress__content__countdown {
  font-size: 22px;
  font-weight: bold;
  color: orange;
  margin-bottom: 5px;
}
  
  .progress {
    padding: 6px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: 0 10%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar { 
    height: 18px;
    background-color: #ee303c;  
    border-radius: 4px; 
    transition: 0.4s linear;  
    transition-property: width, background-color;  
  }
  
  .progress-striped .progress-bar {   
    background-color: #FCBC51; 
    width: 0%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
  }
  
  .progress-label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin: 4px auto;
    
  }
  .progress-amount {
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    color: #fcbc2c;
    transition: opacity 1.2s linear;
    margin: 20px auto;
  }

.project__container__donation{
    
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0px 11px 9px 6px rgba(0, 0, 0, 0.1);
}
.project__container__form{
    width: 100%;
    display: flex;
    gap: 20%;
    flex-wrap: wrap;
    padding: 10px 20px;
}
.project__container__form__info{
    width: 30%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.project__container__form__payment{
    width: 20%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.project__container__form__payment__option{
    padding: 5px 2px;
    max-width: 150px;
}
.project__container__form__donation-btn{
    flex: 0 1 100%;
    padding-top: 20px;
    padding-bottom: 10px;

    input{
      font-family: Poppins;
      background-color: orange;
      padding: 8px 8px;
      border: none;
      transition: all .5s;
      border-radius: 5px;

      &:hover{
        background-color: #262626;
        color: white;
        cursor:pointer;
      }
  }
}

.sectionFAQ {
    background-color: white;
    margin-top: 30px;
}
.sectionFAQ__container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .sectionFAQ__container__accordion {
    .sectionFAQ__container__accordion__item {
      border-bottom: 1px solid lightgray;
      button[aria-expanded='true'] {
        border-bottom: 1px solid orange;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: black;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover, &:focus {
        cursor: pointer;
        color: black;
        &::after {
          cursor: pointer;
          color: orange;
          border: 1px solid orange;
        }
      }
      .sectionFAQ__container__accordion__item__title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: orange;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .sectionFAQ__container__accordion__content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .sectionFAQ__container__accordion__content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
    }
  }


.footer{
    background-color: #262626;
}

.footer__container{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    padding: 3% 2%;
    gap: 50%;
}

.footer__container__subs__title{
    color: orange;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.25);
    font-size: 1.5em;
    margin: auto;
}
.footer__container__subs__subtitle{
    color: white;
}

.footer__container__subs__form__btn-black{
    font-family: Poppins;
    background-color: orange;
    padding: 4px 8px;
    border: none;
    transition: all .5s;

    &:hover{
      background-color: white;
      color: orange;
      cursor:pointer;
  }

}

.footer__container__subs__form__input-subs{
    padding: 6.1px 0px;
    padding-left: 6px;
    float: left;
    border: none;
}

.footer__container__links{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__container__links__link{
    color: white;
    text-decoration: none;

    &:hover{
      color: orange;
      text-decoration: underline;
      transition: all .5s;
  }
}

#mobile-menu {
  display: none;
  flex-direction: column;
  background: #262626;
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  z-index: 99;
  border-top: 1px solid orange;
}

#mobile-menu li {
  list-style: none;
  padding: 10px 0;
}

#mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

#mobile-menu a:hover {
  color: orange;
}

/* Botón de menú hamburguesa */
#menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 3px;
}


/* Tablets (768px - 1024px) */
@media screen and (max-width: 1024px) {

  .banner {
      flex-direction: column;
      text-align: center;
      padding: 20px;
  }
  .banner__head__text, .banner__head__img {
      width: 100%;
      padding: 0;
  }

  .project__container{
    text-align: center;
  }
  .project__container__content {
      flex-direction: column;
      max-height: fit-content;
  }
  .project__container__content__carousel__images{
    width: 100%;
  
  }
  
  .img-project, .project__container__content__text {
      width: fit-content;
      padding: 10px;
      box-shadow: none;
  }

  .project__container__content__text{
    height: 400px;
  }
  .project__container__donation {
      flex-direction: column;
      padding: 10px;
  }
  .project__container__form {
      flex-direction: column;
      align-items: center;
      padding: 0;
  }
  .project__container__form__info, .project__container__form__payment {
      width: 50%;
      text-align: center;
  }
  .project__container__form__payment__option{
      margin: auto;
  }
  .sectionFAQ__container{
    width: 75%;
  }
  .footer__container{
    gap: 35%;
  }
}

/* Móviles (hasta 767px) */
@media screen and (max-width: 767px) {

  #desktop-menu {
    display: none; /* Oculta el menú normal */
  }

  #menu-toggle {
    display: block; /* Muestra el botón */
  }
  .banner__head {
      flex-direction: column;
      text-align: center;
      padding: 20px;
  }
  .banner__head__text, .banner__head__img {
      width: 100%;
      padding: 0;
  }
  .banner__head__text__title {
      font-size: 1.8em;
  }
  .project__container__content {
      flex-direction: column;
  }
  .img-project, .project__container__content__text {
      width: 100%;
      padding: 10px;
  }
  .project__container__donation {
      flex-direction: column;
      padding: 10px;
  }
  .project__container__form {
      flex-direction: column;
      align-items: center;
  }
  .footer__container {
      flex-direction: column;
      text-align: center;
  }
  .footer__container__subs__form__input-subs{
    float: none;
  }
}

