@font-face {
    font-family: 'Poppins';
    src: url(./src/fonts/Poppins-Regular.ttf);
}

body{
    margin: 0;
    font-family: Poppins;
    background-color: rgb(255, 243, 222);
}


.navigation {
  height: 70px;
  background: #262626;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    list-style: none;
    color: whitesmoke;
}

.navigation li:hover{
    text-decoration: underline;
    color: orange;
    cursor: pointer;
    transition: all .5s;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 0;
    flex: 1;
    gap: 6vw;
}

.button-container{
    margin-right: 15px;
}

.logo{
    padding-left: 12px;
    padding-top: 12px;
}
.button-container{
    padding: 20px;
    margin-left: 2vw;
}

.banner-home{
    margin-top: 70px;
    background: linear-gradient(90deg, rgba(255,163,0,1) 0%, rgba(255,184,0,1) 45%, rgba(255,248,0,1) 100%);
}

.head-banner{
    display: flex;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.banner-text{
    width: 50%;
}
.banner-img{
    width: 50%;
    padding-left: 70px;
    display: flex;
    justify-content: center;
}
.title-banner{
    font-weight: 800;
    font-size: 2.4em;
    color: whitesmoke;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.25);
}
.middle-subs{
    font-weight: 560;
    font-size: 1.1em;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.15);
}

/*ARTICLES DE LOS PROYECTOS */

.article-project{
    display: flex;
    justify-content: center;
}

.project-container{
    max-width: 1200px;
    margin-top: 40px;
}

.project-container h2{
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: auto;

}
.project{
    
    border-radius: 15px 0px 0px 0px;
    display: flex;
    background-color: white;
    /*box-shadow: 7px 7px 5px -3px rgba(0,0,0,0.22);*/
    box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
    max-height: 500px;
}
.img-project{
    width: 50%;
    display: flex;
    border-radius: 11px 0px 0px 0px;
    box-shadow: 6px 0px 5px -3px rgba(0,0,0,0.1);
}
.project-text{
    width: 50%;
    padding-left: 1em;
    padding-bottom: 0.5em;
    text-align: justify;
    padding-right: 4em;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}

.donation{
    
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    display: flex;
    max-width: 1200px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 7px 7px rgba(0,0,0,0.1);
}
.form-donation{
    width: 100%;
    display: flex;
    gap: 20%;
    flex-wrap: wrap;
    padding: 10px 20px;
}
.personal-info{
    width: 30%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.payment-info{
    width: 20%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.payment-donation{
    padding: 5px 2px;
    max-width: 150px;
}
.btn-donation{
    flex: 0 1 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.btn-donation input{
    font-family: Poppins;
    background-color: orange;
    padding: 8px 8px;
    border: none;
    transition: all .5s;
    border-radius: 5px;
}

.btn-donation input:hover{
    background-color: #262626;
    color: white;
    cursor:pointer;
}
.sectionFAQ {
    background-color: white;
    margin-top: 30px;
}
.containerFAQ {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
  }
  
  .accordion {
    .accordion-item {
      border-bottom: 1px solid lightgray;
      button[aria-expanded='true'] {
        border-bottom: 1px solid orange;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: black;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover, &:focus {
        cursor: pointer;
        color: black;
        &::after {
          cursor: pointer;
          color: orange;
          border: 1px solid orange;
        }
      }
      .accordion-title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: orange;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
    }
  }


.footer{
    background-color: #262626;
}

.footer-container{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    padding: 3% 2%;
    gap: 50%;
}

.footer-title{
    color: orange;
    text-shadow: 3px 2px 2px rgba(0,0,0,0.25);
    font-size: 1.5em;
    margin: auto;
}
.footer-subtitle{
    color: white;
}

.btn-black{
    font-family: Poppins;
    background-color: orange;
    padding: 4px 8px;
    border: none;
    transition: all .5s;

}
.btn-black:hover{
    background-color: white;
    color: orange;
    cursor:pointer;
}

.input-subs{
    padding: 6.1px 0px;
    padding-left: 6px;
    float: left;
    border: none;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-link{
    color: white;
    text-decoration: none;
}
.footer-link:hover{
    color: orange;
    text-decoration: underline;
    transition: all .5s;
}
